<mat-toolbar color="primary">
  <button mat-button (click)="go('home')">统一身份认证中心</button>
  <button mat-button (click)="go('member')">成员</button>
  <button mat-button (click)="go('services')">服务</button>
  <button mat-button (click)="go('authority')">权限</button>
  <div class="example-spacer"></div>
  <button mat-button [matMenuTriggerFor]="menu">
    <span>{{userInfo?.name}}</span>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">登出</button>
  </mat-menu>
</mat-toolbar>
