.login-container {
  background-image: url("/assets/img/bg1.jpg");
  width: 100vw;
  height: 100vh;
  text-align: -webkit-center;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.login-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);;
  width: 40vw;
}

.example-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.example-card button{width: 100%;}

